.canvas {
    width: 200vw;
    height: 200vh;
    position: relative;
    left: 1000px;
}
.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.location-description {
    font-size: 0.6rem;
    font-weight: 700;
    color: #4f4141;
    max-width: 70px;
    text-align: center;
}