.main-body {
  display: grid;
  grid-template-columns: 1.3fr 3fr;
  padding: 30px;
  height: 100%;
  overflow: none;
}
.infosection {
  display: flex;
  flex-direction: column;
}
.mapsection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  height: 600px;
  border-radius: 40px;
  overflow: hidden;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.logo-imagecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.logo-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.logo-text {
  font-size: 1.5rem;
  font-weight: 700;
  color: #4f4141;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  padding: 0 50px 0 30px;
  position: relative;
}

.header-text {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
  margin-top: 30px;
}

.input-field {
  outline: none;
  border: none;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 50px;
  font-size: 1rem;
  color: #4f4141;
  font-family: "Poppins";
}

.button {
  outline: none;
  border: none;
  padding: 20px;
  background-color: #8438ff;
  border-radius: 50px;
  margin-top: 20px;
  font-size: 1rem;
  color: #ffffff;
  font-family: "Poppins";
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: #611ad5;
}
